<div class='row'>
  <div id='editor_holder' class='medium-12 columns'></div>
</div>

<div class='row large-12' id='form_operations'>
  <%= button_tag '提交', class: "btn btn-primary btn-lg", id: 'submit' %>
  <span id="error_holder"></span>
</div>

<script>
  let api_value = <%= raw @api.to_json %>;
  let method = '<%= method %>';
  let url = '<%= target %>';

  let editor = new JSONEditor(document.getElementById('editor_holder'), {
    schema: <%=raw @api_schema || {} %>,
    no_additional_properties: true
  });
  let submit_button = document.getElementById('submit');

  if (api_value) {
    editor.setValue(api_value);
  }

  editor.on('change', function () {
    // Get an array of errors from the validator
    let errors = editor.validate();
    let holder = document.getElementById('error_holder')

    if (errors.length) {
      holder.innerText = JSON.stringify(errors);
      holder.className = 'label label-warning label-lg';
    } else {
      holder.innerText = '';
      holder.className = 'label';
    }

    submit_button.disabled = errors.length > 0
  });

  submit_button.addEventListener('click', function () {
    let data = editor.getValue();

    let csrf_param_element = document.querySelector('meta[name="csrf-param"]');
    let csrf_param = csrf_param_element && csrf_param_element.getAttribute("content");
    let csrf_token_element = document.querySelector('meta[name="csrf-token"]');
    let csrf_token = csrf_token_element && csrf_token_element.getAttribute("content");

    data[csrf_param] = csrf_token;
    submitData(method, url, data)
  });
</script>
