<!DOCTYPE html>
<html>
  <head>
    <title>API网关配置中心</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GatewayGUI</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <% navbar_list.each do |x| %>
              <%=raw x %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
</html>
